* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: absolute;
    background-image: linear-gradient(#245d6f, #2d86a1);
}

nav .logo p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: coral;
    transition: all 0.4s ease 0s;
}

.outer-box {
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
}

.outer-box h1 {
    text-align: center;
    font-size: 200%;
    margin-bottom: 10px;
}

.outer-box hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-img-box {
    float: left;
    margin: 0px 10px 10px 0px;
}

.right-img-box {
    float: right;
    margin: 0px 10px 0px 10px;
    max-width: 40%;
}

.inner-text-box p {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
}
